// color
$my-bg-color: black;
$my-important-text-color: white;
$my-normal-text-color: #7A7A7A;
$my-contrast-text-color: #1A1A1A;
$my-gradient-color: linear-gradient(225deg, #EDBAFF 0%, #A1FFFF 100%);

// width
$my-leftBar-width: 25%;