@import "variable";

.openDoorPhone {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #252525;

    .title {
        position: absolute;
        font-size: 21px;
        color: white;
        padding: 18px 20px;
        letter-spacing: 0.5px;
    }

    .btnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .btn {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 0px;
            color: black;
            font-size: 26px;
            font-weight: bold;
            background: $my-gradient-color;
        }
    }
}