@import "variable";

.openDoorPhone {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #252525;

    .title {
        position: absolute;
        font-size: 21px;
        color: white;
        padding: 18px 20px;
        letter-spacing: 0.5px;
    }

    .btnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .btn {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 0px;
            color: black;
            font-size: 26px;
            font-weight: bold;
            background: $my-gradient-color;
        }
    }
}





.openDoorWeb {
    width: 280px;
    height: 290px;
    border-radius: 8px;
    background-color: #252525;

    .title {
        position: absolute;
        font-size: 21px;
        color: white;
        padding: 18px 20px;
        letter-spacing: 0.5px;
    }

    .btnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .btn {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 0px;
            color: black;
            font-size: 26px;
            font-weight: bold;
            background: $my-gradient-color;
        }
    }
}

.logContainer {
    .title {
        font-size: 18px;
        color: white;
        background-color: #252525;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 6px 12px 4px 12px;
    }

    .buffer {
        border: solid 1px #252525;
        border-radius: 10px;
        border-top-left-radius: 0px;
        padding: 9px 12px;
    }

    .high {
        color: red;
    }

    .medium {
        color: orange;
    }
}