.container {
    .navBar{
        padding: 14px 20px;
        border-bottom: solid 1px white;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logoGr {
            display: flex;
            flex-direction: row;
            h1 {
                color: white;
                font-size: 20px;
                margin: auto 0px auto 8px;
            }
        }
    }

    .searchBarContainer > div {
        width: calc(100% - 40px);
    }
    .searchBar {
        margin: 20px;
        margin-bottom: 10px;

        label {
			background-color: #252525;
			visibility: visible;
		}
	
		input {
			color: #7a7a7a;
			visibility: visible;
		}
    }

    .bottomBar {
        position: fixed;
        bottom: 0px;
        width: 100%;
        // padding: 0px 20px;
        background-color: black;
        border-top: solid 1px white;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .homeBtn {
            display: flex;
            justify-content: center;
            padding: 17px 44px;
            border-radius: 10px;
            background: linear-gradient(180deg, #EDBAFF 0%, #A1FFFF 100%);
        }

        .btn {
            flex-grow: 1;
        }
    }
}

.accountContainer {
    margin: 22px auto;
    padding: 20px;
    background-color: #252525;
    border-radius: 10px;

    .ava {
        width: fit-content;
        margin: 0 auto;

        img {
            border-radius: 50%;
            width: 90px;
            height: 90px;
        }
    }

    .name {
        margin-top: 10px;
        font-weight: bold;
        text-align: center;
    }

    .field {
        h3 {
            font-size: 18px;
            margin-top: 12px;
            margin-bottom: 5px;
            color: white;
        }

        input {
            width: 100%;
            padding: 5px 10px;
            border-radius: 8px;
            border: solid 1px;
            font-size: 14px;
        }
    }
}

.pathLink {
    padding: 20px 20px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;

    p, h2 {
        margin: 0px;
        font-size: 19px;
        color: white;
        margin-right: 8px;
        letter-spacing: 0.5px;
    }
}